<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<style type="text/css">
#main{
    width : 500px; height :300px;
    margin : auto;
}
#main textarea{
    display : block;
    width :95%; height : 200px;
}
#main > #msg{
    width : 80%;
}

</style>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){

	
    var ws = null;
    var id = $('#yourID').text();
	
	ws = io.connect();
	
	ws.emit('login', {id: id});

        ws.on('msg', function(data){
            console.log('msg:' + data );
            var txt = data.text;
	    var $textarea=$('#content');
            $('#content').val( $('#content').val() +'\n' + txt );
            $textarea.scrollTop($textarea[0].scrollHeight);
        });

	ws.on('users',function(data){
		users(data.userlist);

	});

	ws.on('user',function(data){
		$('yourId').append('ID : ' + data.user);
		id = data.user;
	});

    $('#btnDisconn').click(function(){
    	ws.emit('logout', {id: id});
        ws.close();
	$('#btnConnect').removeAttr('disabled');
    });

    function users(data){
	$('#users').empty();
	$('#users').append('<h3>Users</h3><br/>');
	for(var count=0;count<data.length;count++)
	{	var option = data[count]+"<br/>";
		$('#users').append(option);
	}
    }
   
    function send(){
    	var text = $('#msg').val();
        ws.emit('msg', {id : id, text : text});
        $('#msg').val('');
    }
    $('#btnSend').on('click', function(){
       send();
    });

    $('#msg').on('keydown', function(evt){
        if(evt.keyCode == 13){
            send();
        }
    });

});

</script>
</head>
<body>
<div id="main">
   <div id="yourID"><%=id%></div>
    <button id="btnDisconn" onclick="location.href='logout'">Close</button>
    <textarea id="content" readonly="readonly"></textarea>
    <input type="text" id="msg"/>
    <button id="btnSend">Send</button>
</div>
<div id='users' style='position:absolute; left:0px; top:0px'></div>

</body>
</html>

